

<div class="Site">
  <nav class="d-flex navbar">
    <a class="navbar-brand home" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="navbar-brand" routerLink="/shop" routerLinkActive="active">Shop</a>
  </nav>
  <div class="Site-content">
    <router-outlet></router-outlet>
  </div>
  <nav class="d-flex navbar fixed-bottom">
      <a class="navbar-brand" routerLink="/contact" routerLinkActive="active">Contact</a>
      <a class="navbar-brand" routerLink="/projects" routerLinkActive="active">Projects</a>
    </nav>
</div>