/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.home-bg {
    background: url("https://media1.tenor.com/images/14f465be75c7ee5e7e3956a631c13e49/tenor.gif?itemid=13191041");
    background-size:100% 100%;
}

.shop-bg {
    background: url("https://cdn140.picsart.com/239092158095201.gif?r240x240");
    background-size:100% 100%;
}

.default-bg {
    background-color: #4A6670;
}